<launch>

	<node name="no_go_map_server" pkg="map_server" type="map_server" args="/opt/strands/maps/WW_GF_2015_02_22-nogo.yaml" unless="$(arg with_no_go_map)">
	  <remap from="/map" to="/no_go_map"/>
	</node>
	
	<node pkg="spatiotemporalexploration" type="exploration_planner" name="planner" output="screen"></node>
	
</launch>
